// Colors
$primary: #FC4A1A;
$primary-hover: #b23301;
$secondary: #EFEFEF;
$alternate: #A9A9A9;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$btn: #FF3B3F;
$btn-hover: #CAEBF2;

// Transition 
$smooth: all .3s ease-in-out;